.menu-toggle-container {
    position: fixed;
    display: inline-block;
    cursor: pointer;
    margin: 10px 0 0 15px;
    border-radius: 25px;
    min-width: 48px;
    min-height: 45px;
}
#bar-container {margin: 10px 6px;}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #c9c5c5;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
#colaboradores {
    background-color: #0f93d2;
    color: #fafafa;
    padding: 6px;
    border-radius: 5%;
}
#about h1, #about p, #about h3, #about ul, #about li, li{color: rgba(0,0,0,0.7);}
#description-anida, #descripcion-tematica {margin-top: 300px}
#anida_hoy_descripcion {margin-top: 150px}
#description-equipo-trabajo {margin-top: 371px;}
#disclaimer {font-size: 14px;}
.col2 {width: 60%;}
.equipo strong, .equipo h3 {color: grey !important;}