@font-face {
    font-family: Gotham;
    src: url("Gotham-Medium.otf") format("opentype");
}
@font-face {
    font-family: Gotham-Light;
    src: url("Gotham-Light-Regular.otf") format("opentype");
}
html {
  scroll-behavior: smooth;
}
body {
	background-color: #fafafa;
	font-family: "Gotham-Light", sans-serif;
    font-size: 16px;
	margin: 0 !important;
}
body h3 {font-size: 16px;}
body h1 {font-size: 70px;}
section {
	width: 100%;
	display: block;
}
.full-width {
    width: 100%;
}
section, .full-height {
    height: 100vh;
}
.center {
    /*height: set a height in px or % */
    position: relative;
}

.vcenter span {
    margin: 0;
    position: absolute;
    top: 35%;
    left: 0;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-0%, -50%);
}
.menu-toggle-container{
    z-index: 100;
}
.sidebar {
    top: 50%;
    /* width: 16px; Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    left: 0;
    background-color: #676c7e; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 7px;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: auto;
}
.sidebar a {
    display: block;
    color: #aaaaaa;
    font-size: 1.2rem;
}
.sidebar a:hover {
    color: white;
}
.sideTooltip .sideTooltipText {
    visibility: hidden;
    position: fixed;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    margin-left: 25px;
    z-index: 1;
    color: white;
    background-color: rgba(42,25,7,.85)!important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.sideTooltip:hover .sideTooltipText {
    visibility: visible;
}
.no-li-style, .no-li-style li {
    list-style: none;
}
.list-circle li {list-style-type: circle;}
.hide {
    display: none;
}
.home, .menu {
	text-align: center;
	margin: auto;
}
a {
	color: black;
	font-weight: bold;
    text-decoration: none;
    text-transform: initial;
}
#home {
    background-color: #E1FFFF;
    background-position-x: center;
    background-position-y: 40px;
    background-size: 365px;
}
#home-content {
    text-align: center;
}
#home-title {
    font-size: 5.7rem;
    font-weight: 100;
    letter-spacing: 2rem;
    margin: 0 0 0 1.7rem;
    color: #5599DB;
}
#home-longtitle {
    font-size: 0.8rem;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 0;
    color: #5599DB;
}
#home-description {
	font-size: 20px;
	width: 35%;
  display: inline-block;
  letter-spacing: 1px;
  line-height: 1.4rem;
}
.sections-link, .home-link {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 100;
    letter-spacing: 3px;
    text-align: center;
}
.sections-link{
  bottom: 25%;
  text-align: center;
  position: absolute;
  margin: 0;
  left: 0;
  width: 100%;
}
.home-link {margin-top: 5%; margin-bottom: 3px}

/* Sections menu */
#sections-menu {
    position: relative;
}
#sections-block {
    position: relative;
    height: 100%;
}

#section-list ul {
  padding: 0 !important;
  margin: 5% 0 0 0;
  width: 50%;
  position: relative;
  text-align: center;
  display: inline-block;
}

#sections-menu li {display: inline-block;}

#sections-menu li > div {
	display: inline-block;
    /*padding: 20px;*/
    width: 200px;
    height: 200px;
    border-radius: 50%;
	/*top: 36%;*/
    margin: 30px;
    text-align: center;
}
#sections-menu a li div:hover {
	background-color: #ddd !important;
	transition: background-color 0.5s ease;
}
#sections-menu a li {
    font-size: 20px;
	position: relative;
    color: white;
}
.sections-footer {
    bottom: 0;
    height: 15%;
    width: 100%;
    background-color: #5599DB;
    position: absolute;
    background-image: url(../img/defensamargen-30.svg), url(http://www.ign.gob.ar/themes/open_framework-6.x-1.x/templates/imagenes-nuevas-frontpage/LogoIgn.png), url('../img/logo_blanco_hor_footer.svg');
    background-size: 25%, 10%, 20%;
    background-repeat: no-repeat;
    background-position: left, center, right;
}
.btn-section {
	vertical-align: middle;
	text-align: center;
}
.btn-section p {
	height: 200px;
	display: table-cell;
	vertical-align: middle;
    padding: 0 10%;
    text-transform: initial;
}

/* Scrolling */

a[ id= "home" ]:target ~ #main section.panel {
    -webkit-transform: translateY( 0px);
    transform: translateY( 0px );
}

a[ id= "sections-menu" ]:target ~ #main section.panel {
    -webkit-transform: translateY( -500px );
    transform: translateY( -500px );
}
a[ id= "section-page" ]:target ~ #main section.panel {
    -webkit-transform: translateY( -1000px );
    transform: translateY( -1000px );
}

/* Section page */

.content-card {
	width: 95%;
	height: 340px;
}
.content-card h1 {
	/*padding: 0 10px;*/
	font-size: 2.5rem;
	word-wrap: break-word;
}
.content-card p {
	padding: 0 10px;
	text-align: justify;
}

/* {box-sizing: border-box}*/

/* Content page */

/* Style the tab and tab-frame containers */
.left-30 {margin-left: 30%}

.tab, .menu-toggle-container {
    float: left;
    width: 30%;
}
.tab:before{
    opacity: 0.6;
}
#tab-frame {
	margin-left: 30%;
	width: 70%
}

/* Style the tab */
.tab {
    color: #c9c5c5;
    padding: 0 5rem;
    background-repeat: no-repeat;
    background-size: 35%;
    background-position-y: 12%;
    background-position-x: 18%;
}

/* Style the buttons and links that are used to open the tab content */
.tab a {
    display: block;
    background-color: inherit;
    padding: 22px 60px;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    color: #c9c5c5;
}

/* Change background color of buttons on hover */
.tab a:hover {
    background-color: #ddd;
    color: #48608d;
}

/* Create an active/current "tab button" class */
.tab a.active {
    background-color: #ccc;
    color: #48608d;
}

/* Style the tabcontent */
.tabcontent {
    width: 30%;
    float: left;
    padding: 15.5rem 5rem;
    border-left: none;
    color: grey;
}
.tabcontent h3 {color: gray;}

.tabcontent h1{
    color: #aeae0d;
}
.tabcontent p{
    color: #c9c5c5;
}
.tabcontent-card {
    display: table-cell;
    vertical-align: middle;
}

.tab-title, #colaboradores h3 {
    color: #eae7e7;
}
.tab-title h1 {
    margin: 65% 10% 5% 25%;
    font-size: xx-large;
}
.tab-title p {
    text-align: left;
    margin: 0 10% 0 25%;
    line-height: 19px;
}
