<head>
  <link rel="stylesheet" href="/styles/footer.css">
</head>
<div class="footer-top">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-6">
        <div class="footer-info">
          <a href="https://www.ign.gob.ar/">
            <img src="/assets/icons/logo_IGN_blanco_sinTexto.svg" style="height:65px"></a>
          <p>
            Avda. Cabildo 381 C1426 - AAD C.A.B.A. <br>
            República Argentina<br><br>
            <strong><a href="https://www.ign.gob.ar/">www.ign.gob.ar</a></strong><br>
            <strong>Correo:</strong> anida@ign.gob.ar<br>
          </p>
          <div class="social-links mt-3">
            <a target="_blank" href="https://www.facebook.com/institutogeograficonacional">
              <img src="/assets/icons/redes-blanco-01.svg"></a>
            <a target="_blank" href="https://twitter.com/ARGENTINAIGN">
              <img src="/assets/icons/redes-blanco-02.svg"></a>
            <a target="_blank" href="https://www.instagram.com/argentinaignoficial/">
              <img src="/assets/icons/redes-blanco-03.svg"></a>
            <a target="_blank" href="https://www.youtube.com/user/IgnArgentina">
              <img src="/assets/icons/redes-blanco-04.svg"></a>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-6 footer-links">
        <h4>ANIDA</h4>
        <ul>
          <li><i class="bx bx-chevron-right"></i> <a href="/pages/acercade.html">Arcerca de</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="/pages/anida_hoy.html">ANIDA hoy</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="/pages/equipo.html">Equipo de trabajo</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="/pages/contacto.html">Contacto</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-6 footer-links">
        <h4>Sitios de interés</h4>
        <ul>
          <li><i class="bx bx-chevron-right"></i> <a href="https://www.ign.gob.ar/">IGN</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="https://antartida-anida.ign.gob.ar/static/atlas-antartida-web/">Atlas Antártida Argentina</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="https://geoportal.ign.gob.ar/">Geoportal IGN</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="https://mapa.ign.gob.ar/">Visor Argenmap</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-6 footer-newsletter">
        <div style="text-align: center;">
          <a target="_blank" href="https://www.argentina.gob.ar/defensa">
            <img src="/assets/icons/defensamargen-2024.svg">
          </a>
        </div>
        
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="license">
    <p style="text-align: center;">ISSN: 2684-0391</p>
    <a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">
      <img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" /></a>
    <br>
    Esta obra está bajo una <a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">licencia de Creative Commons Reconocimiento-NoComercial-SinObraDerivada 4.0 Internacional </a>
    <div class="update">
      <a target="_blank" href="https://www.ign.gob.ar/">IGN</a> -
      2025
    </div>
  </div>
