<head>
  <link rel="stylesheet" href="/styles/navbar.css">
</head>
<nav class="topnav" id="myTopnav">

  <!-- Logo de ANIDA -->
  <a href="/index.html" class="logo">
    <img src="/assets/icons/logo_blanco_ANIDA_200x50.svg" alt="ANIDA">
  </a>
  <!-- Menú multinivel: Estructura temática -->
  <div class="dropdown">
    <div class="dropbtn" onclick="toggleDropdown(this)">
      <a class="dropbtn-a" href="/pages/estructura.html">Estructura temática</a>
      <i class='bx bxs-chevron-down' onclick="toggleDropdown(this.parentElement); event.stopPropagation();"></i>
    </div>
    <div class="dropdown-content">
      <div class="dropdown-submenu">
        <a href="/pages/temas/arg_mundo.html" onclick="toggleSubmenu(this, event)">
          Argentina y el mundo<i class='bx bxs-chevron-right menu-chevron-right'></i></a>
        <div class="dropdown-subcontent">
          <a href="https://ide.ign.gob.ar/portal/apps/MapJournal/index.html?appid=a6b2bf22093e4f8d9f9a0e59d4ec82ca" target="_blank">Rasgos básicos y componentes del territorio</a>
          <a href="https://ide.ign.gob.ar/portal/apps/MapJournal/index.html?appid=2bbf319cef994f76ab329bccc2ffe811" target="_blank">Límites y fronteras internacionales</a>
          <a href="https://ide.ign.gob.ar/portal/apps/MapJournal/index.html?appid=2c7297e24ca641dd8c1ba0ae689ff4cf" target="_blank">Organización política</a>
          <a href="https://ide.ign.gob.ar/portal/apps/MapJournal/index.html?appid=317955464b3b4b228fec815faeba7908" target="_blank">Formación del territorio</a>
          <a href="https://ide.ign.gob.ar/portal/apps/MapJournal/index.html?appid=88ebb23ca07544ba9dfe9383584991f5" target="_blank">Malvinas y otras islas del Atlántico Sur</a>
          <a href="https://ide.ign.gob.ar/portal/apps/MapJournal/index.html?appid=b2cb8044848b438da5a9dd3d0f7a5f04" target="_blank">Antártida</a>
          <a href="https://ide.ign.gob.ar/portal/apps/MapJournal/index.html?appid=10126972130a4141a7cba8fdd39eff98" target="_blank">Inserción internacional</a>
        </div>
      </div>
      <div class="dropdown-submenu">
        <a href="/pages/temas/arg_fisico_natural.html" onclick="toggleSubmenu(this, event)">
          Argentina físico-natural<i class='bx bxs-chevron-right menu-chevron-right'></i></a>
        <div class="dropdown-subcontent">
          <div class="dropdown-submenu">
            <a href="" onclick="toggleSubmenu(this, event)">
              Geología y relieve<i class='bx bxs-chevron-right menu-chevron-right'></i></a>
            <div class="dropdown-subcontent">
              <a href="https://ide.ign.gob.ar/portal/apps/MapJournal/index.html?appid=bda8f47e469c42c6a0cd2496187e56cb" target="_blank">Geología</a>
              <a href="https://ide.ign.gob.ar/portal/apps/MapJournal/index.html?appid=ab1131d6c3c142a09b3f2a62722a3a79" target="_blank">Geología de Argentina</a>
              <a href="https://ide.ign.gob.ar/portal/apps/MapJournal/index.html?appid=3863bf5c30a84eeab2d299958dc87118" target="_blank">Geomorfología</a>
              <a href="https://ide.ign.gob.ar/portal/apps/MapJournal/index.html?appid=8099b9f573364acc8ae98609935bc101" target="_blank">Volcanología</a>
              <a href="https://ide.ign.gob.ar/portal/apps/MapJournal/index.html?appid=ef7f123b3610420d931b5595cd2ae90c" target="_blank">Sismología</a>
            </div>
          </div>
          <div class="dropdown-submenu">
            <a href="" onclick="toggleSubmenu(this, event)">
              Clima<i class='bx bxs-chevron-right menu-chevron-right'></i></a>
            <div class="dropdown-subcontent">
              <a href="https://ide.ign.gob.ar/portal/apps/MapJournal/index.html?appid=403635e0919c410298b8fa80a87b09f1" target="_blank">Clima</a>
              <a href="https://ide.ign.gob.ar/portal/apps/MapJournal/index.html?appid=b58d8b8841ef472e962317cac879e87f" target="_blank">Clima de Argentina</a>
            </div>
          </div>
          <div class="dropdown-submenu">
            <a href="" onclick="toggleSubmenu(this, event)">
              Hidrografía<i class='bx bxs-chevron-right menu-chevron-right'></i></a>
            <div class="dropdown-subcontent">
              <a href="https://ide.ign.gob.ar/portal/apps/MapJournal/index.html?appid=9afbdac4af82412d9a7657168198e5f3" target="_blank">Aguas superficiales</a>
              <a href="https://ide.ign.gob.ar/portal/apps/MapJournal/index.html?appid=7cc4ba9c758148f9b6176eb9cc2d79f2" target="_blank">Aguas subterráneas</a>
            </div>
          </div>
          <a href="https://ide.ign.gob.ar/portal/apps/MapJournal/index.html?appid=909f432ca3c540609871ac04334588bd" target="_blank">Suelo</a>
          <a href="https://ide.ign.gob.ar/portal/apps/MapJournal/index.html?appid=140d4525a0c94744b3b7bfd8423a1294" target="_blank">Ecología y biogeografía</a>
          <a href="https://ide.ign.gob.ar/portal/apps/MapAndAppGallery/index.html?appid=9e3fd39ca5464eab83f9b1b904dd7ace" target="_blank">Galería de recursos</a>
        </div>
      </div>
      <div class="dropdown-submenu">
        <a href="/pages/temas/arg_socio_demo.html" onclick="toggleSubmenu(this, event)">
          Argentina socio-demográfica<i class='bx bxs-chevron-right menu-chevron-right'></i></a>
        <div class="dropdown-subcontent">
          <a href="https://ide.ign.gob.ar/portal/apps/MapJournal/index.html?appid=340df9845c2c4f1ea2fb6939f1e24fcb" target="_blank">Tamaño y peso demográfico</a>
          <a href="https://ide.ign.gob.ar/portal/apps/MapJournal/index.html?appid=57057713a9ae4084a8d5f2bddbfebb66" target="_blank">Composición de la población</a>
          <a href="https://ide.ign.gob.ar/portal/apps/MapJournal/index.html?appid=6dff50df29e1474ea1682878250dc244" target="_blank">Crecimiento demográfico</a>
          <a href="https://ide.ign.gob.ar/portal/apps/MapJournal/index.html?appid=d92e12432ed84d4082d3f3a31f37af00" target="_blank">Distribución y asentamiento</a>
          <a href="https://ide.ign.gob.ar/portal/apps/MapJournal/index.html?appid=300625aaf2c344beaf9187ffa3efe43a" target="_blank">Movilidad territorial</a>
          <a href="https://ide.ign.gob.ar/portal/apps/MapJournal/index.html?appid=6c0ededef0a34747a8c0b1afe9781ae0" target="_blank">Calidad de vida</a>
          <a href="https://ide.ign.gob.ar/portal/apps/MapAndAppGallery/index.html?appid=f7beacffe01c4c7886c797124df799cd" target="_blank">Galería de recursos</a>
        </div>
      </div>
      <div class="dropdown-submenu">
        <a href="/pages/temas/arg_econ.html" onclick="toggleSubmenu(this, event)">
          Argentina económica<i class='bx bxs-chevron-right menu-chevron-right'></i></a>
        <div class="dropdown-subcontent">
          <a href="https://ide.ign.gob.ar/portal/apps/MapJournal/index.html?appid=25362ceb139445519f15d54635ba87a8" target="_blank">Actividad agrícola-ganadera</a>
          <a href="" class="disabled">Pesca y acuicultura</a>
          <a href="" class="disabled">Minería</a>
          <a href="" class="disabled">Industria</a>
          <a href="https://ide.ign.gob.ar/portal/apps/MapJournal/index.html?appid=d754b267b7a240a9b24f1b0898556fea" target="_blank">Energía</a>
          <a href="" class="disabled">Turismo</a>
          <a href="https://ide.ign.gob.ar/portal/apps/MapJournal/index.html?appid=57af2edeb8114526a75b0a59a1bddbdb" target="_blank">Transporte</a>
          <a href="" class="disabled">Comercio exterior</a>
          <a href="" class="disabled">Galería de recursos</a>
        </div>
      </div>
      <div class="dropdown-submenu">
        <a href="/pages/temas/arg_ambiental.html" onclick="toggleSubmenu(this, event)">
          Argentina ambiental<i class='bx bxs-chevron-right menu-chevron-right'></i></a>
        <div class="dropdown-subcontent">
          <a href="" class="disabled">Actividades humanas e implicancias ambientales</a>
          <a href="" class="disabled">Riesgo de desastres</a>
          <a href="" class="disabled">Cambio climático</a>
          <a href="" class="disabled">Áreas naturales protegidas</a>
          <a href="" class="disabled galeria">Galería de recursos</a>
        </div>
      </div>
    </div>
  </div>
  <!-- <a href="/pages/temas/temas.html">Mapas temáticos</a> --> <!-- Fase 2 -->

  <a href="/pages/recursos_educativos.html">Recursos educativos</a>

  <a href="/pages/tutoriales.html">Tutoriales</a>

  <a href="/pages/acercade.html">Acerca de ANIDA</a>

  <a href="/pages/equipo.html">Equipo de trabajo</a>

  <a href="/pages/cita.html">¿Cómo citar?</a>

  <a href="/pages/contacto.html">Contacto</a>

  <a href="https://antartida-anida.ign.gob.ar" style="color: #51A2B3; font-weight: 600;">Atlas de la Antártida Argentina</a>

  <!-- Boton menu en celulares -->
  <a href="javascript:void(0);" class="icon" onclick="toggleResponsiveNavbar()">&#9776;</a>

</nav>